
{% extends 'base.html' %}
 {% block head_title %} Safety Kit
{% endblock %} {% block body %} {% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div
  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
  role="alert"
>
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}

<div class="container mx-auto mt-24">
  <div
    class="max-w-md mx-auto bg-blue-900 p-8  rounded shadow items-center justify-between w-full"
  >
    <h2 class="text-2xl text-center text-white mb-5 font-bold mb-4">
      Change Password
    </h2>

    <form
      method="post"
      class="bg-blue-900 text-white  rounded px-8 pt-6 pb-8 mb-4"
    >
      {% csrf_token %} 
      {% for hidden_field in form.hidden_fields %} {{
      hidden_field }} {% endfor %}

      <div class="mb-4">
        <label
          for="{{ form.old_password.id_for_label }}"
          class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        >
          Old Password:
        </label>
        {{ form.old_password }} {% if form.old_password.errors %}
        <p class="text-red-600 text-sm italic mt-1">
          {{ form.old_password.errors.0 }}
        </p>
        {% endif %}
      </div>

      <div class="mb-4">
        <label
          for="{{ form.new_password1.id_for_label }}"
          class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        >
          New Password:
        </label>
        {{ form.new_password1 }} {% if form.new_password1.errors %}
        <p class="text-red-600 text-sm italic mt-1">
          {{ form.new_password1.errors.0 }}
        </p>
        {% endif %}
      </div>

      <div class="mb-4">
        <label
          for="{{ form.new_password2.id_for_label }}"
          class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        >
          Confirm New Password:
        </label>
        {{ form.new_password2 }} {% if form.new_password2.errors %}
        <p class="text-red-600 text-sm italic mt-1">
          {{ form.new_password2.errors.0 }}
        </p>
        {% endif %}
      </div>

        <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
